// styles here
$colors: (
  primary:    #019AE8,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


.toolbar-title{
    color: color($colors,primary);
}
.card-content{
    font-size: 1.6rem;
}
.actions {
	width: 15%;
	height: 5vh;
  background-color: transparent;
  font-size: 2rem;
}
.label{
    margin: 0;
}
#like{
  transition: all ease-in-out .2s;

}
#like:focus{
  transform: scale(5);
  color: red;
}

